name: docs
on:
  # Runs on pushes targeting the default branch
  push:
    branches: [master]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  ACTIONS_STEP_DEBUG: true  # Enable debug logging

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
      - name: Build docs
        run: docker run --platform linux/amd64 -v $PWD:/workspace quay.io/antaris-inc/satos-payload-sdk-tools:stable /bin/bash -c "pip install sphinx furo && make docs"
      - name: upload docs artifact
        uses: actions/upload-artifact@v4
        with:
          name: docs
          path: dist/docs/

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: docs
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
    - uses: actions/download-artifact@v4
      with:
        name: docs
        path: docs/
    - uses: actions/configure-pages@v4
    - uses: actions/upload-pages-artifact@v2
      with:
        path: ./docs/
    - id: deployment
      uses: actions/deploy-pages@v4
